<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpfreetech.IndiUpi"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29" />

    <application>
        <activity
            android:name="com.gpfreetech.IndiUpi.ui.PaymentActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
    </application>

</manifest>